.gallery-grid {
  display: grid;
  gap: 10px;
  padding: 10px 0;
}

.gallery-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery.expanded-margin {
  margin-bottom: 40px; /* Adjust this value as needed */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Styles */

/* Large screens: 4x2 layout */
@media screen and (min-width: 1024px) {
  .gallery-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }
}

/* Medium screens: 2x4 layout */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
  }
}

/* Small screens: 2x4 layout with smaller images */
@media screen and (max-width: 767px) {
  .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
  }

  .gallery-item {
      width: 90%; /* Slightly reduce the width of the gallery items */
      margin: 0 auto;
  }

  .gallery-grid {
      gap: 20px; /* Reduce the gap between items */
  }
}
