.gallery-grid {
    display: grid;
    gap: 10px;
    padding: 10px 0;
  }
  
  .gallery-item {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Ensures square aspect ratio */
    object-fit: cover; /* Ensures the image fits within its container */
  }
  
  /* Large screens: 4x2 layout */
  @media screen and (min-width: 1024px) {
    .gallery-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  
  /* Medium screens: 2x4 layout */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  
  /* Small screens: 1x8 layout */
  @media screen and (max-width: 767px) {
    .gallery-grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
    }
    
    @media screen and (max-width: 766px) {
      .gallery-item {
        width: 80%; /* Reduce the width of the gallery items */
        margin: 0 auto; /* Center the images */
      }
    
      .gallery-grid {
        gap: 5px; /* Reduce the gap between items */
      }
    }
    
  }
  