@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/* Global styles */
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-image: url('/gradient.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

b, strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
