.meetyourmaker-container {
  width: 100%;
  max-width: 100%;
  height: 82vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.meetyourmaker-iframe-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin: 20px auto;
  width: 100%;
  max-width: 100%;
  height: calc(82vh - 40px);
  border: 2px solid white;
  box-sizing: border-box;
}

.meetyourmaker-iframe {
  width: 133.33%;
  height: 133.33%;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transform: scale(0.75);
  transform-origin: 0 0;
}

/* Responsive design for mobile devices */
@media (max-width: 849px) {
  .meetyourmaker-container {
    height: 72vh;
    padding: 0 10px;
  }

  .meetyourmaker-iframe-wrapper {
    height: 67vh;
    margin: 10px auto;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .meetyourmaker-container {
    padding: 0 10px;
  }

  .meetyourmaker-iframe-wrapper {
    margin: 10px auto;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    height: calc(72vh - 20px);
  }
}

@media (max-width: 480px) {
  .meetyourmaker-container {
    padding: 0 5px;
  }

  .meetyourmaker-iframe-wrapper {
    margin: 5px auto;
    width: calc(100% - 14px);
    max-width: calc(100% - 14px);
    height: calc(72vh - 10px);
  }
}
