.meetyourmaker-container {
  width: 100%;
  height: 82vh;
  margin: 0;
  padding: 0;
}

.meetyourmaker-iframe-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin: 20px 0;
  width: 100%;
  height: calc(82vh - 40px);
  border: 2px solid white;
  box-sizing: border-box;
}

.meetyourmaker-iframe {
  width: 133.33%;
  height: 133.33%;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transform: scale(0.75);
  transform-origin: 0 0;
}

/* Responsive design for mobile devices */
@media (max-width: 849px) {
  .meetyourmaker-container {
    height: 72vh;
  }

  .meetyourmaker-iframe-wrapper {
    height: 67vh;
    margin: 10px;
    width: calc(100% - 20px);
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .meetyourmaker-iframe-wrapper {
    margin: 15px;
    width: calc(100% - 30px);
    height: calc(72vh - 30px);
  }
}

@media (max-width: 480px) {
  .meetyourmaker-iframe-wrapper {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(72vh - 20px);
  }
}
