@media screen and (max-width: 768px) {
  
    .hero-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .hero-image {
      width: 200px;
      height: 200px;
      margin: 20px 0;
      transform: translateX(0);
    }
  
    .hero-content h1 {
      font-size: 2.5em;
    }
  
    .hero-content h2 {
      font-size: 1.5em;
    }
  
    .project {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .project-image {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  
    .project-content {
      width: 100%;
      padding: 0 15px;
    }
  
    .expandable-title {
      font-size: 2em;
    }
  
    .content-section {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .project-content {
      padding: 0 10px;
    }
  
    .project-title a {
      font-size: 1.2em;
    }
  
    .project-description {
      font-size: 1em;
    }
  
    .hero-image {
      width: 150px;
      height: 150px;
    }
  
    .hero-content h1 {
      font-size: 2em;
    }
  
    .hero-content h2 {
      font-size: 1.2em;
    }
  
    .project-image {
      width: 150px;
      height: 150px;
    }
  
    .expandable-title {
      font-size: 1.5em;
    }
  }
  