.simulation-container {
  width: 100%;
}

.sketch-container {
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  height: 50vh;      /* Adjust height as needed */
  position: relative;
  touch-action: none; /* Prevent default touch actions */
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.controls button {
  padding: 8px 12px;
  font-size: 16px;
  font-family: 'Fahkwang', sans-serif; /* Ensure buttons use Fahkwang font */
}

/* Ensure the canvas fits the container */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none; /* Prevent default touch actions */
}
